.formLine {
    display: flex;
    flex-direction: row;
    align-items: center;
    min-height: 36rem;
    padding: 4rem 8rem;
    border-bottom: 1rem solid var(--dividerColor, rgba(255, 255, 255, 0.1));
}

.compact {
    min-height: 28rem;
    padding: 2rem 8rem;
}

.label {
    flex-shrink: 0;
    width: 40%;
    padding-right: 8rem;
}

.title {
    color: var(--normalTextColor, #eaf1f4);
    font-size: calc(14rem * var(--fontScale, 1));
}

.subtitle {
    color: var(--normalTextColorDim, rgba(234, 241, 244, 0.7));
    font-size: calc(12rem * var(--fontScale, 1));
}

.content {
    flex-grow: 1;
    flex-shrink: 1;
    min-width: 0;
}
